/* 
    Document   : styles
    Created on : 13/03/2012, 00:31:30
    Author     : diego
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    text-align:center;
    
}

.resultado {
    color: green;
}

.error {
    color: red;
}
